body {
    background-color: white;
}
h1 {
    font-family: Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
    text-decoration: overline;
    color: lightslategray;
    margin-top: 30px;
}
form {
    height: 1em;
    width: 2em;
    font-family: Verdana, sans-serif;
    font-size: 6em;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}
input {
    size:30em;
}
#main{
  text-align: center;
  font-size: 15px;
}

#bottom {
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Istok Web', 'Raleway';
  font-size: 15px;
  
}
.item {
    width: 100px;
}
li {
  font-family: 'Source Sans Pro';
  font-size: 1em;
  text-transform: uppercase;
  display: block;
  padding: 4px 0;
}
#button1 #button2 {
   border-top: 1px solid #aab0b0;
   background: #aab0b0;
   background: -webkit-gradient(linear, left top, left bottom, from(#aab0b0), to(#aab0b0));
   background: -webkit-linear-gradient(top, #aab0b0, #aab0b0);
   background: -moz-linear-gradient(top, #aab0b0, #aab0b0);
   background: -ms-linear-gradient(top, #aab0b0, #aab0b0);
   background: -o-linear-gradient(top, #aab0b0, #aab0b0);
   padding: 3.5px 7px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #545454;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 55px;
   height: 25px;
   text-align: center;
   margin-bottom: 6px;
   }
#button1:hover #button2:hover {
   border-top-color: #aab0b0;
   background: #aab0b0;
   color: #030303;
   }
#button1:active #button2:active {
   border-top-color: #f2f8fc;
   background: #f2f8fc;
   }
.line {
  margin: 20px;
  border-bottom: 1px solid #000;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}
#right { 
  position: fixed;
  top: 0;
  right: 0; 
  width: 26%;
  height: 100%;
  background: #ECF1EF;
}
#left { 
  position: fixed;
  top: 0;
  left: 0; 
  width: 26%;
  height: 100%;
  background: #ECF1EF;
}
#listItem {
  text-align: left;
  padding-left: 10px;
}
#bottom {
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Istok Web', 'Raleway';
  font-size: 15px;
}